---
import "../styles/global.css";

const {
    title: _title,
    backgroundImage: _backgroundImage,
    description,
    url: _url,
    categories,
} = Astro.props;
const title = _title ? `Ethan Blog | ${_title}` : `Ethan Blog`;
const image = _backgroundImage ?? "/logo.png";
const url = _url ?? "";
---

<!doctype html>
<html lang="ko" data-theme="abyss" class="scroll-smooth">
    <head>
        <meta charset="UTF-8" />
        <link rel="canonical" href={`https://ethan-heo.github.io${url}`} />
        <link rel="sitemap" href="/sitemap-index.xml" />
        <meta name="language" content="ko" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <meta name="description" content={description} />
        <meta name="keywords" content={categories.join(", ")} />
        <meta name="author" content="ethan-heo" />
        <meta property="og:description" content={description} />
        <meta property="og:type" content="website" />
        <meta property="og:url" content={url} />
        <meta property="og:image" content={image} />
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:title" content={title} />
        <meta name="twitter:description" content={description} />
        <meta name="twitter:image" content={image} />
        <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/favicon-16x16.png"
        />
        <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
        <link rel="manifest" href="/site.webmanifest" />
        <title>{title}</title>
    </head>
    <body class="flex flex-col min-h-screen">
        <header
            class="flex items-center justify-between w-full px-4 sm:max-w-xl md:max-w-2xl lg:max-w-3xl xl:max-w-4xl 2xl:max-w-6xl mx-auto pt-4 pb-4"
        >
            <a class="link" href="/">
                <div class="avatar">
                    <div
                        class="ring-primary ring-offset-base-100 w-9 rounded-full ring-2 ring-offset-2"
                    >
                        <img src="/logo.png" alt="Ethan blog" />
                    </div>
                </div>
            </a>
            <ul class="flex items-center gap-2">
                <li>
                    <a class="link link-hover" href="/blog">Blog</a>
                </li>
                <!-- <li>
                    <a class="link link-hover" href="/Resume">Resume</a>
                </li> -->
            </ul>
        </header>
        <main
            class="flex-1 w-full h-full px-4 sm:max-w-xl md:max-w-2xl lg:max-w-3xl xl:max-w-4xl 2xl:max-w-6xl mx-auto"
        >
            <slot />
        </main>
        <footer
            class="flex items-center justify-center w-full px-4 sm:max-w-xl md:max-w-2xl lg:max-w-3xl xl:max-w-4xl 2xl:max-w-6xl mx-auto pt-20 pb-10"
        >
            {`© ${new Date().getFullYear()} ethan-heo. All rights reserved.`}
        </footer>
    </body>
</html>
