---
import "../styles/global.css";

const props = Astro.props;
---

<!doctype html>
<html lang="ko" data-theme="abyss">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <meta name="description" content={props.description} />
        <meta name="keywords" content={props.categories.join(" ")} />
        <meta name="author" content="ethan-heo" />
        <meta name="language" content="ko" />
        <meta property="og:description" content={props.description} />
        <meta property="og:type" content="website" />
        <meta property="og:url" content={props.url} />
        <meta property="og:image" content={props.backgroundImage} />
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:title" content={props.title} />
        <meta name="twitter:description" content={props.description} />
        <meta name="twitter:image" content={props.backgroundImage} />
        <meta name="twitter:url" content={props.url} />
        <title>{props.title}</title>
    </head>
    <body class="flex flex-col min-h-screen">
        <header
            class="flex items-center justify-between w-full px-4 sm:max-w-xl md:max-w-2xl lg:max-w-3xl xl:max-w-4xl 2xl:max-w-6xl mx-auto pt-3 pb-3"
        >
            <a class="link link-hover font-bold text-2xl" href="/"
                >이든 블로그</a
            >
            <ul class="flex items-center gap-2">
                <li>
                    <a class="link link-hover" href="/blog">Blog</a>
                </li>
                <li>
                    <a class="link link-hover" href="/Resume">Resume</a>
                </li>
            </ul>
        </header>
        <main
            class="flex-1 w-full px-4 sm:max-w-xl md:max-w-2xl lg:max-w-3xl xl:max-w-4xl 2xl:max-w-6xl mx-auto"
        >
            <slot />
        </main>
        <footer
            class="flex items-center justify-center w-full px-4 sm:max-w-xl md:max-w-2xl lg:max-w-3xl xl:max-w-4xl 2xl:max-w-6xl mx-auto pt-20 pb-10"
        >
            {`© ${new Date().getFullYear()} ethan-heo. All rights reserved.`}
        </footer>
    </body>
</html>
