---
import cn from "classnames";
import type { RichText } from "../../../v1/blog/domain/interfaces/notion-blog-block.interface";

const { annotations, plain_text, text } = Astro.props as RichText;

const useMark = annotations.code;
const link = text.link?.url ?? "";
const useLink = !!link;
const ANNOTATIONS_CLASS_MAP = {
    bold: "font-bold",
    italic: "italic",
    strikethrough: "line-through",
    underline: "underline",
};
const annotationClass = Object.entries(annotations)
    .map(([name, use]) => {
        const result =
            ANNOTATIONS_CLASS_MAP[name as keyof typeof ANNOTATIONS_CLASS_MAP];

        if (!result || !use) return null;

        return result;
    })
    .filter(Boolean);
---

{
    useMark ? (
        useLink ? (
            <a href={link} class="link underline-offset-4" target="_blank">
                <mark class={cn(annotationClass, "rounded-xs", "bg-secondary")}>
                    {plain_text}
                </mark>
            </a>
        ) : (
            <mark class={cn(annotationClass, "rounded-xs", "bg-secondary")}>
                {plain_text}
            </mark>
        )
    ) : useLink ? (
        <a href={link} class="link underline-offset-4" target="_blank">
            <span class={cn(annotationClass)}>{plain_text}</span>
        </a>
    ) : (
        <span class={cn(annotationClass)}>{plain_text}</span>
    )
}
